@font-face {
    font-family: 'Bzar';
    src: url('../fonts/BZar.eot');
    src: url('../fonts/BZar.eot') format('embedded-opentype'),
        url('../fonts/BZar.woff') format('woff'),
        url('../fonts/BZar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bzar;
}
  html {
      text-align: center;
      margin-top: 3rem;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }